repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.0
    hooks:
    - id: nbstripout
      files: ".ipynb"
  - repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
