site_name: AMMICO
site_description: AI-based Media and Misinformation Content Analysis Tool
site_url: https://ssciwr.github.io/AMMICO/
repo_url: https://github.com/ssciwr/AMMICO
repo_name: ssciwr/AMMICO

theme:
  name: material
  features:
    - navigation.sections
    - navigation.indexes
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          options:
            docstring_style: google

nav:
  - Home: index.md
  - Tutorials:
    - Getting started: tutorials/getting_started.md
    - Image summary and VQA: tutorials/image_summary.md
    - Video summary and VQA: tutorials/video_summary.md
    - Text analysis: tutorials/text.md
    - Color analysis: tutorials/colors.md
    - Interactive display: tutorials/display.md
  - Modules:
    - Text analysis: modules/text.md
    - Image summary and VQA: modules/image_summary.md
    - Video summary and VQA: modules/video_summary.md
    - Color analysis: modules/colors.md
    - Interactive display: modules/display.md
  - More information:
    - Set up credentials for Google Cloud API: set_up_credentials.md
    - FAQ: faq.md
  - API Reference: api.md
