google-cloud-vision
cvlib
deepface
ipywidgets
numpy
opencv_python
pandas
pooch
protobuf
retina_face
setuptools
tensorflow
keras
openpyxl
pytest
pytest-cov
matplotlib
opencv-contrib-python
googletrans-3.1.0a0