google-cloud-vision
cvlib
deepface
ipywidgets
numpy
opencv_python
pandas
pooch
protobuf
retina_face
setuptools
tensorflow
keras
openpyxl
pytest
pytest-cov
matplotlib
opencv-contrib-python
googletrans==3.1.0a0
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.1/en_core_web_md-3.4.1.tar.gz