name: build-and-deploy-pages 
on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - run: |
          echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
          echo "content_hash=$(sha256sum pyproject.toml mkdocs.yml | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}-${{ env.content_hash }}
          path: .cache 
          restore-keys: |
            mkdocs-material-${{ env.cache_id }}-
      - run: pip install mkdocs-material mkdocstrings[python]
      - run: mkdocs gh-deploy --force


